#confluence-links img.tool {
	float: right;
}
#confluence-links {
	border-radius: 0;
	margin-left: -15px;
	margin-right: -1px;
}
.confluence-avatar.label.avatar {
    padding-top: 10px;
	margin-top: -8px;
	margin-bottom: -8px;
}
.confluence-avatar.label.avatar img {
    margin-top: -11px;
	margin-bottom: -7px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-left: -7px;
}
.subscriptions .service-km-confluence-dig td.features .details {
	overflow: visible;
}