.masonry-container .node.service-km-confluence table.subscriptions th.features {
	width: 48px;
}
#confluence-links img.tool {
	float: right;
}
#confluence-links {
	border-radius: 0;
	margin-left: -15px;
	margin-right: -1px;
}
.confluence-avatar.avatar {
	margin-top: -10px;
    margin-bottom: -10px;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    padding-top: 8px;
	padding-left: 0;
    padding-right: 0;
}
.confluence-avatar.avatar:hover span {
	text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
.confluence-avatar.avatar:hover {
	border-color: rgba(0, 0, 255, 0.61);
	-webkit-box-shadow: 0px 0px 4px 2px rgba(22, 37, 133, 0.55);
	-moz-box-shadow: 0px 0px 4px 2px rgba(22, 37, 133, 0.55);
	box-shadow: 0px 0px 4px 2px rgba(22, 37, 133, 0.55);
	background-color: rgba(22,37,133,1);
}
.confluence-avatar.label.avatar img {
	margin-top: -8px;
    margin-bottom: -4px;
    margin-left: 0;
    border-radius: 50%;
    width: 24px;
    height: 24px;
}
